.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



















/*Actual code*/
/*Navigation*/
* {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.navBar a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
.cartButton {
    background-color: #BF0000;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.navBar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navLinks {
    display: flex;

}
.cartAndLog {
    padding-right: 20px;
}

/*Menus*/
.backLine {
    display: flex;
    justify-content: left;
}
.backLine button {
    margin-left: 20px;
    background-color: #BF0000;
    color: white;
    padding: 5px;
    border-radius: 50%;
}
.weightAndPrice {
    display: flex;
    justify-content: space-between;
}
.menuButtons {
    display: flex;
    justify-content: space-between;
}
.menuButtons button {
    background-color: #BF0000;
    color: white;
}
.menuButtons * {
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 4px;
    /*padding-left: 1vw;
    padding-right: 1vw;*/
}
.menuItem {
    width: 15vw;
    border-style: solid;
    border-radius: 1px;
}
.menuItem * {
    margin: 5px;
}
/*.menuItem {
  display: inline-block;
}*/
.menuList .menuItem {
    display: inline-block;
    margin: 2vw;
}

.footerLine {
    background-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footerLine p {
    color: white;
    text-align: center;
    font-size: 20px;
}

/*Log in*/
.formLabelUsername {
    padding-right: 20vw;
}
.formLabelPassword {
    padding-right: 20.5vw;
}
.formLabelFirstName {
    padding-right: 20vw;
}
.formLabelLastName {
    padding-right: 20vw;
}
.formLabelEmail {
    padding-right: 22.5vw;
}
.formLabelAddress {
    padding-right: 21vw;
}
.formLabelPhoneNumber {
    padding-right: 17.5vw;
}
.formLabelEnquiry {
    padding-right: 21vw;
}
.formLabelName {
    padding-right: 22.5vw;
}
.normalButton {
    background-color: #BF0000;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
}
.register {
    text-decoration: underline;
    color: #BF0000;
    font-decoration: italic;
}
.containerRegister {
    /*grid-template-rows: [row1] 80rem [row2];
    grid-template-columns: [column1-start] 25% [column1-end column2-start] 25%
    [column2-end column3-start] 25% [column3-end column4-start] 25% [column4-end]*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}
.registerField {
    /*padding-right: 100px;*/
}
.registerItem {
    /*border-style: solid;*/
    height: 15px;
}

/*.firstContainerRegisterSecondary {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.secondContainerRegisterSecondary {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}*/
.categoryItemButton {
    /*margin-left: 10vw;*/
    margin-left: 3.5vw;
    border-radius: 25px;
    padding: 4px;
    padding-left: 1vw;
    padding-right: 1vw;
}
/*Details about meals*/
/*.alergensTitle {
  padding-right: 29rem;
}*/
.quantityAndPrice div{
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.priceDetails p {
    display: inline-block;
}
.allDetails div {
    display: inline-block;
}
.displayPrice {
    font-size: 2rem;
}
.arrowButton {
    background-color: #BF0000;
    color: white;
    padding: 1rem;
}
.mealQuantity {
    margin-right: 1rem;
    margin-left: 1rem;
}
.additionsBox {
    border-radius: 2px;
    border-style: solid;
    border-color: black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.additionsBox div {
    padding: 1em;
}
/*.additionsItems {
  border-style: solid;
  border-radius: 1px;
}*/
/*.additionsItems input {
  padding-right: 20px;
}
.additionsItems div {
  display: flex;
  justify-content: space-between;
}*/

/*Cart*/
.cutlaries {
    padding-left: 1em;
    font-size: 20px;
}
.deliveryPrice {
    font-size: 20px;
    padding-right: 2rem;
}
.cutlaryAndPrice {
    display: flex;
    justify-content: space-between;
}
.displayFinalPrice {
    font-size: 1.5rem;
    padding-right: 2rem;
}
.changeButton {
    background-color: #BF0000;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}
.addressTextField {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.displayCartItems {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-radius: 1px;
}
.changedSize {
    width: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
.imageAndName {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
}
.rightSideOfCartItem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.cartButton {
    background-color: #BF0000;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}
.rightArrowCartButton {
    background-color: #BF0000;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
}
.deleteCartButton {
    background-color: #BF0000;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.reserveTable {
    font-size: 20px;
}

/*Calendar*/
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding-top: 25px;
    padding-bottom: 25px;

    background: #1abc9c;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    width: 90%;
    margin-left: 5%;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    width: 90%;
    margin-left: 5%;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
.dateAndPreferences {
    display: flex;
    justify-content: space-around;
}
.year {
    font-size: 18px;
}
.preferencesTextarea {
    width: 90%;
    height: 20vh;
}
.next {
    margin-right: 1vw;
}
.prev {
    margin-left: 1vw;
}
.telephoneNumber {
    color: #BF0000;
}

/*dropdown menu*/
.dropBar {
    width: 150px;
    position: relative;
}
.click {
    background-color: #f85f73;
}
.click:hover {
    background-color: #B71C1C;
}
.links, .click {
    padding: 12px;
    font-size: 1.2rem;
    font-family: futura Md BT;
    border: none;
    outline: none;
    width: 150px;
    color: #fff;
    transition: 0.3s;
}
.list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}
.newList {
    transform: scaleY(1);
}
/*
.normalButton {
  background-color: #283c63;
}
.normalButton:hover {
  background-color: #01579B;
  transform: scale(1.1);
}*/
.dropdown_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40vw;
}
.dropdownButton {
    width: 20vw;
}

/*Home Page*/
.homeImage {
    height: 30vh;
    width: 100vw;
}
.aboutUs {
    display: flex;
    justify-content: space-around;
    padding-left: 15vw;
    padding-right: 15vw;
}
.Main_Page_Image_Container {
    padding-right: 1vw;
}
.Main_Page_Text_Container {
    padding-left: 1vw;
}
.Main_Page_Text_Container p {
    text-align: left;
}
.howToOrderElement {
    text-align: left;
}
.howToOrder {
    padding-left: 25vw;
    padding-right: 25vw;
}
.Label {
    width: 25vw;
}